@model List<Atribuicao>

@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Atribuições";
    Layout= "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <div class="header-title-container pad-left">
        <h1 class="header-title">Atribuições feitas</h1>
    </div>
    <button class="add-container pad-right btn-modal">
        <img class="add-icon" src="~/img/icons/add.svg" alt="add">
        <span class="add-title">Adicionar</span>
    </button>
</header>
<section class="table-container">
    @if (ViewBag.hasAtribuicao == false)
    {
        <div class="table">
            <span class="msg-table">Nenhuma atribuição feita</span>
        </div>
    }
    else
    {
        <div class="table">
            <div class="table-item">
                @foreach (var atribuicoes in Model)
                {   
                    <section class="table-item-container">
                        <div class="table-item-btn" id="course">
                            <label style="cursor: auto;" for="course" class="table-item-name">@atribuicoes.Professor</label>
                            <div class="drop-btn-container">
                                <button class="drop-btn btn-modal-edt" onclick="openModalEdtCursos('@atribuicoes.Id', '@atribuicoes.ProfessorId', '@atribuicoes.GradeDisciplinasId', '@atribuicoes.TurmaId', '@atribuicoes.Matriz')" id="id-@atribuicoes.Id">
                                    <img src="~/img/icons/edit.svg" alt="Edit">
                                </button>
                                <button class="drop-btn">
                                    <label for="btn-delete-@atribuicoes.Id">
                                        <img src="~/img/icons/delete.svg" alt="Delete">
                                    </label>
                                    <input style="display: none;" class="btn-modal-del" name="id" onclick="openModalDel('@atribuicoes.Id')" id="btn-delete-@atribuicoes.Id"/>
                                </button>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    }
</section>
<section class="modal">
    <div class="modal-container modal-container-typeco">
        <div class="title-modal-container">
            <h1 class="title-modal">Adicionar Atribuição</h1>
            <button class="close-modal" id="close-modal-add">
                <img src="~/img/icons/close-rounded.svg" alt="Close">
            </button>
        </div>
        <form method="post" class="form-modal" id="form-add">
            <div class="field-modal">
                <label for="teacher-add">Professor</label>
                <input class="inp-modal" type="text" id="teacher-add" name="teacher" placeholder="Selecione o professor">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="gridSub">Grade Disciplina?</label>
                <input class="inp-modal" type="text" id="gridSub-add" name="gridSub" placeholder="Selecione a grade">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="turma-add">Turma</label>
                <input type="text" class="inp-modal" id="turma-add" name="turma" placeholder="Selecione a turma">
                <span class="erro"></span>
            </div>
            <button type="submit" class="btn btn-modal">Adicionar</button>
        </form>
    </div>
</section>
<section class="modal modal-edt">
    <div class="modal-container modal-container-edt modal-container-typecoEdt">
        <div class="title-modal-container">
            <h1 class="title-modal">Editar Atribuição</h1>
            <button class="close-modal close-modal-edt" id="close-modal-edt">
                <img src="~/img/icons/close-rounded.svg" alt="Close">
            </button>
        </div>
        <form asp-action="EditCurso" method="post" class="form-modal" id="form-edt">
            <div class="field-modal">
                <label for="date-edt">Data de Início</label>
                <input class="inp-modal" type="date" id="date-edt" name="date" placeholder="Data de início" autocomplete="false">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="curso-edt">Cursos</label>
                <input class="inp-modal" type="text" id="curso-edt" name="curso" placeholder="Selecione os cursos">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="number-edt">Número da Grade</label>
                <input class="inp-modal" type="text" id="number-edt" name="number" placeholder="Digite o número da Grade (Opcional)">
                <span class="erro"></span>
            </div>
            <input type="hidden" name="id" id="id-edt"/>
            <button type="submit" class="btn btn-modal">Salvar</button>
        </form>
    </div>
</section>
<section class="modal modal-del">
    <form asp-action="DeleteCurso" method="post" class="modal-container modal-container-del">
        <div class="title-modal-container-del">
            <h1 class="title-modal-del">Tem certeza que deseja remover a atribuição da turma <span id="name-del"></span> ?</h1>
        </div>
        <div class="btn-container-confirm">
            <button type="button" class="btn btn-modal btn-white-outline close-modal-del">Cancelar</button>
            <input type="hidden" name="id" id="id-del"/>
            <button type="submit" class="btn btn-modal">Remover</button>
        </div>
    </form>
</section>

@section Scripts{
    <script src="~/js/modal.js"></script>
    <script src="~/js/multi-select-course-add.js"></script>
    <script src="~/js/multi-select-course-edt.js"></script>
}