@{
    var actionAtual = ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" href="~/css/admin/style.css">
    @await RenderSectionAsync("Styles", required: false)

    <title>Admin | @ViewBag.Subtitulo</title>
</head>

<body>
    <nav class="sidebar border-radious-side">
        <div class="logo-container">
            <a asp-action="Index" asp-controller="Home" class="logo">
                <img src="~/img/logo/aion-white.png" alt="Aion Logo" />
            </a>
        </div>
        <ul class="side-list">
            <li>
                <a asp-action="Cursos" asp-controller="Admin" class="side-item-container @(actionAtual == "Cursos" ? "selected" : "")">
                    <img class="side-item-icon" src="~/img/icons/course.svg" alt="Cursos" />
                    <span class="side-item-title">Cursos</span>
                </a>
            </li>
            <li>
                <a asp-action="Materias" asp-controller="Admin" class="side-item-container @(actionAtual == "Materias" ? "selected" : "")">
                    <img class="side-item-icon" src="~/img/icons/materia-icon.svg" alt="Matérias" />
                    <span class="side-item-title">Matérias</span>
                </a>
            </li>
            <li>
                <a asp-action="Professores" asp-controller="Admin" class="side-item-container @(actionAtual == "Professores" ? "selected" : "")">
                    <img class="side-item-icon" src="~/img/icons/person.svg" alt="Professores" />
                    <span class="side-item-title">Professores</span>
                </a>
            </li>
            <li>
                <a asp-action="Horarios" asp-controller="Admin" class="side-item-container @(actionAtual == "Horarios" ? "selected" : "")">
                    <img class="side-item-icon" src="~/img/icons/clock-icon.svg" alt="Horários" />
                    <span class="side-item-title">Gerar Horários</span>
                </a>
            </li>
            <li>
                <a asp-action="Config" asp-controller="Admin" class="side-item-container @(actionAtual == "Config" ? "selected" : "")">
                    <img class="side-item-icon" src="~/img/icons/settings.svg" alt="Configurações" />
                    <span class="side-item-title">Configurações</span>
                </a>
            </li>
        </ul>
        <div class="btn-side-container">
            <button class="btn-side-user">
                <img src="~/img/icons/profile-white.svg" alt="">
                <span>@User.Identity.Name</span>
            </button>
            <button class="btn-side-logout">
                <img class="logout-icon" src="~/img/icons/leave.svg" alt="Sair">
            </button>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>